/* Shared Css */
*{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
body {
    font-family: "Lato", sans-serif;
    margin-bottom: 0px;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.btn-primary:hover {
    transition: 1300ms;
    padding: 20px 43px;
    border-radius: 8px;
    background: #36131b;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 0 0px;
}

.nav-title {
    font-size: 40px;
    font-weight: bold;
}


nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav>ul>li>a {
    text-decoration: none;
}

/* Header Related Styles */

header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 230px;

}

.header-img {
    width: 400px;
}

.header-content {
    margin-bottom: 100px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/* Start for feature flower */
.feature-flower {
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
}

.flowers {
    display: flex;
}

.pick-flower {
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pick-flower-img {
    height: 400px;
    width: 350px;
}

.flower-item {
    margin-bottom: 0;
}

.flower-tree {
    margin-top: 0;
    text-decoration: underline;
}

.feature-title {
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 0;
}

.feature-des {
    margin-top: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

/* delivery feature */
.delivery-container {
    margin-top: 100px;
    text-align: center;
    display: flex;
    gap: 120px;
    margin-bottom: 200px;
}

.delivery-feature {
    align-self: center;
    max-width: 1110px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.delivery-item {
    padding: 30px 50px;
}

.delivery-img {
    width: 50px;
}


/* Hot Deal Related */
#off-id {
    color: #E55473;
}

.hot-deal {
    display: flex;
    margin: 0 auto;
    background: rgba(229, 84, 115, 0.05);
    ;

}

.hot-content {
    padding: 150px 50px;
    max-width: 600px;
    text-align: center;
    margin-left: 300px;
}

/* Instagram */

.instagram {
    margin-top: 200px;
    text-align: center;
}

.insta {
    padding-left: 30px;
    width: 250px;
    margin-bottom: 200px;
}

/* Get The Latest Deal */

.latest {
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
    background: url('../Flower Asset/Rectangle\ 9.png');
    padding: 50px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.input-email input {
    border-radius: 20px;
    background: #FFF;
    border: 0;
    display: block;
}

/*Footer Section*/
footer {
    background: black;
    padding: 100px 0;
    text-align: center;
    margin-top: 200px;
}

#flo {
    color: #E55473;
}

.footer-title {
    color: white;
}

.footer-des {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.revised {
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
}